.body{
	background-image:url('bg7.jpg');
	width:99%;
	color: black;
	position:relative;
	background-color:#AEAEAE;
}

#header {

}

#logoandtitle {
}

#logo {
	height: 10%;
	width:15%;
	margin-left: 3%;
	border:0px;
}

#text {
	color: #7982E6;
	font-size: 250%;
	margin-top: -7%;
	margin-left: 20%;
}
#login {
	float: right;
	clear:both;
	margin-right: 5%;
	margin-top: -5%;
}

#username ,#loginpass {
	width: 200px;
	border-radius: 6px;
	padding: 8px;
	color: #AEAEAE;
	font-size:125%;
	border:0%;
	margin-right:10px;
}

#loginbutton{
	float:right;
	margin-right: 11%;
	margin-top: 2%;
	width: 15%;
	height: 30px;
}

#register {
	float: right;
	Clear:both;
	margin-right: 8%;
	margin-top: 10px;
}

#firstname, #lastname   {
	border: 0%;
	border-radius: 6px;
	width: 200px;
	font-size:125%;
	margin-right: 10px;
	padding: 8px;
	color: #AEAEAE;
}

#email, #pass {
	color:#AEAEAE;
	border:0%;
	border-radius: 6px;
	width: 436px;
	font-size:125%;
	padding: 8px;
	margin-top: 10px;
}



label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding:8px;
    font-size: 225%;  
}  

input[type=radio] {
    border: 0px;
    width: 15px;
    height: 2em;
}

#birthday{
	font-size:120%;
	margin-left: 2%;
}

#year, #month, #date{
	font-size:90%
}

#registerbutton {
	float: Center;
	width: 25%;
	height: 30px;
	margin-top: 2%;
	border-radius: 9%;
	margin-left: 2%;
}

input[type="text"] :firstname
{
    font-size:12px;
	color:#000;
}

#images {
	float: left;
	width: 58%;
	margin-left: 2%;
	margin-top: 50px;
	overflow: hidden;
}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 44%;
		height: 475px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 44%;
		height: 475px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
#footer{
	margin-top:580px;
	margin-left:3%;
	Clear: both;

}




@media (max-width: 1500px) {


#text {
	font-size: 228%;
	margin-left: 18%;
}
#login {
	float: right;
	clear:both;
	margin-right: 3%;
	margin-top: -5%;
}


#register {
	Clear:both;
	float: right;
	margin-right: 6%
}

#images {
	float: left;
	width: 56%;
	margin-left: 3%;
	margin-top: 50px;
	overflow: hidden;
}

	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 45%;
		height: 475px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 45%;
		height: 475px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
#footer{
	margin-top:580px;
	margin-left:3%;
	Clear: both;
}
	
}

@media (max-width: 1400px) {

	#logo {
		height: 9%;
		width:14%;
		margin-left: 3%;
	}

	#text {
		font-size: 210%;
		margin-top: -6.6%;
		margin-left: 18%;
	}
	
	#login {
		margin-right: 2%;
		margin-top: -5%;
	}

	#username ,#loginpass {
		width: 200px;
	}


	#register {
		margin-right: 5%
	}

	#images {
	float: left;
	width: 55%;
	margin-left: 3%;
	margin-top: 41px;
}

	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width: 46%;
		height: 490px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 46%;
		height: 490px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:580px;
		margin-left:3%;
		Clear: both;
	}
	
	
}

@media (max-width: 1300px) {

	#logo {
		height: 8.5%;
		width: 13%;
		margin-left: 2%;
		border:0px;
	}

	#text {
		font-size: 200%;
		margin-top: -5%;
		margin-left: 17%;
	}
	
	#login {
		float: right;
		clear:both;
		margin-right: 2%;
		margin-top: -5%;
	}

	#username ,#loginpass {
		width: 180px;
		border-radius: 6px;
		padding:7px;
		color: #AEAEAE;
		font-size:125%;
		border:0%;
		margin-right:10px;
	}

	#loginbutton{
		float:right;
		margin-right: 12%;
		margin-top: 2%;
		width: 15%;
		height: 30px;
	}

	#register {
		Clear:both;
		float: right;
		margin-right: 5%
	}

	#firstname, #lastname   {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 175px;
		font-size:115%;
		margin-right: 9px;
		padding: 8px;	
	}

	#email, #pass {
		color:#AEAEAE;
		border:0%;
		border-radius: 6px;
		width: 383px;
		font-size:115%;
		padding: 8px;
		margin-top: 10px;
	}



	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 215%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 12px;
		height: 2em;
	}

	#birthday{
		font-size:120%;
		Margin-left: 2%;
	}

	#year, #month, #date{
		font-size:90%
	}

	#registerbutton {
		float: Center;
		width: 23%;
		height: 28px;
		margin-top: 2%;
		border-radius: 9%;
	}
	
	#images {
	float: left;
	width: 62%;
	margin-left: -2%;
	margin-top: -26px;
}

	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width: 0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 44%;
		height: 540px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 46%;
		height: 540px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:580px;
		margin-left:3%;
		Clear: both;
	}
	
	
}

@media (max-width: 1250px) {

	#logo {
		height: 7.5%;
		width: 10%;
		margin-left: 2%;
		border:0px;
	}

	#text {
		font-size: 210%;
		margin-top: -5%;
		margin-left: 16.5%;
	}
	
	#login {
		margin-right: 2%;
		margin-top: -5%;
	}

	#username ,#loginpass {
		width: 170px;
		padding:7px;
		font-size:120%;
		border:0%;
		margin-right:9px;
	}

	#loginbutton{
		float:right;
		margin-right: 11.5%;
		margin-top: 2%;
		width: 15%;
		height: 30px;
	}

	#register {
		margin-right: 4.8%
	}

	#firstname, #lastname   {
		width: 170px;
		font-size:113%;
		margin-right: 8.5px;
	}

	#email, #pass {
		width: 373px;
		font-size:113%;
		padding: 8px;
	}



	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 210%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 12px;
		height: 2em;
	}

	#birthday{
		font-size:120%;
		Margin-left: 2%;
	}

	#year, #month, #date{
		font-size:90%
	}

	#registerbutton {
		float: Center;
		width: 23%;
		height: 28px;
		margin-top: 2%;
		border-radius: 9%;
		margin-left: 2%;
	}
	
	#images {
	float: left;
	width: 62%;
	margin-left: -2%;
	margin-top: -31px;
}

	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width: 0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 44%;
		height: 545px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 46%;
		height: 545px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:580px;
		margin-left:3%;
		Clear: both;
	}
	
	
}

@media (max-width: 1200px) {

	#logo {
		height: 7.5%;
		width: 10%;
		margin-left: 2%;
		border:0px;
	}

	#text {
		font-size: 175%;
		margin-top: -5%;
		margin-left: 16.5%;
	}
	
	#login {
		margin-right: 0%;
		margin-top: -5%;
	}

	#username ,#loginpass {
		width: 166px;
		padding:6px;
		font-size:107%;
		border:0%;
		margin-right:9px;
	}

	#loginbutton{
		float:right;
		margin-right: 13.5%;
		margin-top: 2%;
		width: 15%;
		height: 30px;
	}

	#register {
		margin-right: 3.8%
	}

	#firstname, #lastname   {
		width: 158px;
		font-size:105%;
		margin-right: 11.5px;
	}

	#email, #pass {
		width: 350px;
		font-size:105%;
		padding: 8px;
	}



	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 12px;
		height: 2em;
	}

	#birthday{
		font-size:120%;
		Margin-left: 2%;
	}

	#year, #month, #date{
		font-size:90%
	}

	#registerbutton {
		float: right;
		width: 23%;
		height: 28px;
		margin-top: 2%;
		border-radius: 9%;
	}
	
	#images {
	float: left;
	width: 60%;
	margin-left: -4%;
	margin-top: -30px;
}

	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width: 0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 43%;
		height: 533px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 44%;
		height: 533px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:580px;
		margin-left:3%;
		Clear: both;
	}
	
}

@media (max-width: 1050px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:15%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 200%;
		margin-top: -65px;
		margin-left: 16%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: -55px;
		width:30%;
		margin-right: 6px;
	}

	#username ,#loginpass {
		width: 90%;
		border-radius: 6px;
		padding: 1%;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 18px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
	float:right;
	margin:auto;
	width:40%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 40.8%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 180%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 2em;
	}

	#birthday{
		font-size:200%;
		margin-left: 4%;
	}

	#year, #month, #date{
		font-size:90%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:8px;
	}
	
	#images {
	float: left;
	width: 62%;
	margin-left: -2%;
	margin-top: -63px;
}

	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width: 0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width: 0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 43%;
		height: 575px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 44%;
		height: 575px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:580px;
		margin-left:3%;
		Clear: both;
	}
	
}

@media (max-width: 1000px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:15%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 200%;
		margin-top: -65px;
		margin-left: 16%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: -55px;
		width:30%;
		margin-right: 6px;
	}

	#username ,#loginpass {
		width: 90%;
		border-radius: 6px;
		padding: 1%;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 18px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
	float:right;
	margin:auto;
	width:40%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 40.8%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 180%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 2em;
	}

	#birthday{
		font-size:200%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:80%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:8px;
	}
	
	#images {
		width: 55%;
		float:left;
		margin-top: -75px;
		margin-left:1%;
	}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 100%;
		height: 267px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 100%;
		height: 267px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 950px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:20%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -90px;
		margin-left:23%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 10px;
		width:50%;
	}

	#username ,#loginpass {
		width: 42.5%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 12px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
		float:right;
		margin:auto;
		width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 42%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 2em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:80%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:8px;
	}
	
	#images {
		width: 47%;
		float:left;
		margin-top: -107px;
		margin-left:1%
	}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 100%;
		height: 267px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 100%;
		height: 267px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 900px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:25%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 225%;
		margin-top: -100px;
		margin-left:30%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 10px;
		width:50%;
	}

	#username ,#loginpass {
		width: 42%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 12px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
	float:right;
	margin:auto;
	width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 41.8%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 2em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:80%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:8px;
	}
	
	#images {
		width: 48%;
		float:left;
		margin-top: -95px;
	}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 100%;
		height: 267px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 100%;
		height: 267px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 850px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -120px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 5px;
		width:50%;
	}

	#username ,#loginpass {
		width: 41%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 12px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
	float:right;
	margin:auto;
	width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 40.5%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 2em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:70%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:8px;
	}
	
	#images {
		width: 40%;
		float:left;
		margin-top: -108px;
	}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 100%;
		height: 568px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
		#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
}

@media (max-width: 800px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -100px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:50%;
	}

	#username ,#loginpass {
		width: 40%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 20px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
	float:right;
	margin:auto;
	width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 39.875%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 2em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:70%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:8px;
	}
	
	#images {
		width: 40%;
		float:left;
		margin-top: -108px;
	}
	
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 100%;
		height: 594px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 750px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -100px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:50%;
	}

	#username ,#loginpass {
		width: 90%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
	}

	#loginbutton{
		float:right;
		margin-right: 15px;
		width: 30%;
		height: 30px;
		margin-top: 10px;
	}

	#register {
	float:right;
	margin:auto;
	width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 39.875%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 2em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:70%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
	}
	
		#images {
		width: 40%;
		float:left;
		margin-top: -160px;
	}
	
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width:0px;
		height: 0px;
	}
	
	#i11 {
		width: 100%;
		height: 622px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 700px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -100px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
	}

	#username ,#loginpass {
		width: 37%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:right;
		margin-right: 12px;
		width: 30%;
		height: 30px;
	}

	#register {
		float:right;
		margin:auto;
		width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 39%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size: 60%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
	}
	
	#images {
		width: 46%;
		float:left;
		margin-top: -120px;
		margin-left: 1%;
	}
	
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:100%;
		height:  611px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width:0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 650px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -100px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 40%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:right;
		margin-right:50px;
		width: 30%;
		height: 30px;
	}

	#register {
	float:right;
	margin:auto;
	width:50%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 38.5%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 180%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:60%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
	}
	
	#images {
		width: 40%;
		float:left;
		margin-top: 10px;
	}
	
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:100%;
		height: 442px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width:0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
		clear: both;
	}
	
}

@media (max-width: 600px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -100px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 40%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:right;
		margin-right:35px;
		width: 30%;
		height: 30px;
	}

	#register {
	float:center;
	margin:auto;
	width:100%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 42%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:80%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:30px;
	}
	
	#images {
		width: 0px;
		height: 0px;
	}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height: 0px;
	}
	
	#i3 {
		width: 0px;
		height: 0px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 0px;
		height: 0px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width:0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}
	
	#footer{
		margin-top:50px;
		margin-left:2%;
	}
}

@media (max-width: 550px) {

	.body {
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:30%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top: -100px;
		margin-left:35%;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 40%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:right;
		margin-right:35px;
		width: 30%;
		height: 30px;
	}

	#register {
		width:100%;
	}

	#firstname, #lastname  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 42%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}


	 #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 92.2%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}

	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 18px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:80%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:30px;
	}
	
	#images {
		width: 0px;
		height: 0px;
	}
	
	#i1 {
		width:0px;
		height:0px;
	}
	
	#i2 {
		width:0px;
		height:  0px;
	}
	
	#i3 {
		width: 100%;
		height: 267px;
	}
	
	#i4 {
		width:0px;
		height: 0px;
	}
	
	#i5 {
		width: 0px;
		height: 0px;
	}
	
	#i6 {
		width:0px;
		height: 0px;
	}
	
	#i7 {
		width: 100%;
		height: 267px;
	}
	
	#i8 {
		width:0px;
		height: 0px;
	}
	
	#i9 {
		width: 0px;
		height: 0px;
	}
	
	#i10 {
		width: 0px;
		height: 0px;
	}
	
	#i11 {
		width: 0px;
		height: 0px;
	}
	
	#i12 {
		width: 0px;
		height: 0px;
	}
	
	#i13 {
		width: 0px;
		height: 0px;
	}
	
	#i14 {
		width: 0px;
		height: 0px;
	}
	
	#i15 {
		width: 0px;
		height: 0px;
	}
	
	#i16 {
		width: 0px;
		height: 0px;
	}
	
	#i17 {
		width: 0px;
		height: 0px;
	}
	
	#i18 {
		width: 0px;
		height: 0px;
	}
	
	#i19 {
		width: 0px;
		height: 0px;
	}

	#footer{
		margin-top:50px;
		margin-left:2%;
	}
}

@media (max-width: 500px) {

	.body{
	width:98%;
	}
	
	#logo {
		height: 5%;
		width:80%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 350%;
		margin-top:15px;
		margin-right:auto;
		margin-left: auto;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 40%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:right;
		margin-right:20px;
		margin-left: 10px;
		width: 30%;
		height: 30px;
	}

	#register {
		margin:auto;
		width:100%
	}

	#firstname, #lastname , #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 88%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}




	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:80%;
		margin-top: 10px;
	}

	#registerbutton {
		float: right;
		width: 40%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-right:30px;
	}
	
	#images {
	width: 0px;
	height: 0px;
	}

	#footer{
		margin-top:60px;
		margin-left:2%;
	}
}

@media (max-width: 450px) {

	#logo {
		height: 15%;
		width:90%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 350%;
		margin-top:15px;
		margin-right:auto;
		margin-left: auto;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 80%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:center;
		margin-right:10px;
		margin-left: 10px;
		width: 87%;
		height: 30px;
	}

	#register {
		margin:auto;
		width: 100%;
	}

	#firstname, #lastname , #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 88%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}




	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:50%;
		margin-top: 10px;
	}

	#registerbutton {
		float: Center;
		width: 95%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#images {
	width: 0px;
	height: 0px;
	}

	#footer{
		margin-top:60px;
		margin-left:2%;
	}
	
}

@media (max-width: 400px) {

	.body {
	width:97%
	}
	
	#logo {
		height: 15%;
		width:90%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 300%;
		margin-top:15px;
		margin-right:auto;
		margin-left: auto;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 80%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:center;
		margin-right:10px;
		margin-left: 10px;
		width: 85.5%;
		height: 30px;
	}

	#register {
		margin:auto;
	}

	#firstname, #lastname , #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 88%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}




	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
		margin-left:30px;
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:50%;
		margin-top: 10px;
	}

	#registerbutton {
		float: Center;
		width: 95%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#images {
	width: 0px;
	height: 0px;
	}

	#footer{
		margin-top:30px;
		margin-left:2%;
	}
}

@media (max-width: 350px) {

	#logo {
		height: 15%;
		width:90%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top:15px;
		margin-right:auto;
		margin-left: auto;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 80%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:center;
		margin-right:10px;
		margin-left: 10px;
		width: 87%;
		height: 30px;
	}

	#register {
		margin:auto;
	}

	#firstname, #lastname , #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 88%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}




	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:50%;
		margin-top: 10px;
	}

	#registerbutton {
		float: Center;
		width: 95%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#images {
	width: 0px;
	height: 0px;
	}

	#footer{
		margin-top:30px;
		margin-left:2%;
	}
}

@media (max-width: 300px) {

	.body{
	width:94%;
	}
	
	
	#logo {
		height: 15%;
		width:90%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
		margin-top:15px;
		margin-right:auto;
		margin-left: auto;
	}
	#login {
		float: right;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:100%;
	}

	#username ,#loginpass {
		width: 80%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:center;
		margin-right:10px;
		margin-left: 10px;
		width: 87%;
		height: 30px;
	}

	#register {
		margin:auto;
	}

	#firstname, #lastname , #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 88%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}




	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 200%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 15px;
		height: 1em;
	}

	#birthday{
		font-size:240%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:50%;
		margin-top: 10px;
	}

	#registerbutton {
		float: Center;
		width: 95%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#images {
	width: 0px;
	height: 0px;
	}

	#footer{
		margin-top:0px;
		margin-left:2%;
	}
}

@media (max-width: 250px) {

	.body{
		width:95%;
	}
	
	#logo {
		height: 15%;
		width:90%;
		margin: auto;
		border:0px;
		float:center;
	}

	#text {
		color: #7982E6;
		font-size: 240%;
		margin-top:15px;
	}
	#login {
		float: left;
		clear:both;
		margin-top: 15px;
		width:90%;
	}

	#username ,#loginpass {
		width: 85%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:130%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:center;
		margin-right:10px;
		margin-left: 10px;
		width: 95%;
		height: 30px;
	}

	#register {
		margin:auto;
		width:90%;
		float:left;
	}

	#firstname, #lastname , #email, #pass  {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 90%;
		font-size:100%;
		margin-top:5px;
		padding: 8px;	
	}




	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 140%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 14px;
		height: 1em;
	}

	#birthday{
		font-size:250%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:50%;
		margin-top: 10px;
	}

	#registerbutton {
		float: Center;
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#images {
	width: 0px;
	height:0px;
	}

	#footer{
		margin-top:50px;
		margin-left:2%;
	}
}

@media (max-width: 200px) {

	
	#logo {
		height: 15%;
		width:90%;
		margin: auto;
		border:0px;
	}

	#text {
		color: #7982E6;
		font-size: 250%;
	}
	#login {
		float: left;
		clear:both;
		margin: auto;
		margin-top: 15px;
		width:90%;
	}

	#username ,#loginpass {
		width: 85%;
		border-radius: 6px;
		padding: 8px;
		color: #AEAEAE;
		font-size:125%;
		border:0%;
		margin-top:5px;
		margin-right:10px;
		margin-left:10px;
	}

	#loginbutton{
		float:center;
		margin-right:10px;
		margin-left: 10px;
		width: 95%;
		height: 30px;
	}

	#register {
		Clear:both;
		float: left;
		margin:auto;		
		width:90%;
	}

	#firstname, #lastname   {
		color: #AEAEAE;
		border: 0%;
		border-radius: 6px;
		width: 90%;
		font-size:100%;
		margin-top:5px;
		padding: 5%;	
	}

	#email{
		color:#AEAEAE;
		border:0%;
		border-radius: 6px;
		width: 90%;
		font-size:100%;
		padding: 5%;
		margin-top: 5px;
	}
	
	#pass {
		color:#AEAEAE;
		border:0%;
		border-radius: 6px;
		width: 90%;
		font-size:100%;
		padding: 5%;
		margin-top: 5px;
	}



	label {  
		display: inline-block;  
		cursor: pointer;  
		position: relative;  
		padding:8px;
		font-size: 110%;  
	}  

	input[type=radio] {
		border: 0px;
		width: 13px;
		height: 1em;
	}

	#birthday{
		font-size:200%;
		margin-left: 2%;
	}

	#year, #month, #date{
		font-size:70%;
		margin-top: 10px;
	}

	#registerbutton {
		float: Center;
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-radius: 9%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#images {
	width: 0px;
	height: 0px;
	}

	#footer{
		margin-top:50px;
		margin-left:2%;
	}
	
}
