body {
	width:99%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height:180%;
	text-align:left;
	clear: both;
	background-image:url('bg.jpg');
	background-color: #A9F5A9;
}

.mainHeader nav {
	background-color: #2E64FE;
	height: 50px;
	width: 85%;
	margin:Auto;
	border-radius: 10px;
	margin-top: 70px;
	border-bottom-color:#0B4C5F;
	border-right-color:#0B4C5F;
	border-style:solid;
	border-top:none;
	border-left: none;
}

.mainHeader nav ul {
	list-style: none;
	margin-left: auto;
	width:90%;
	margin-right: auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline-block;
	padding: 2% 7%;
}

.mainHeader nav :link, .mainHeader nav :visited {
	color:#FFF;
	display: inline-block;
	line-height: 10%;
	text-decoration:none;
	font-family:Arial;
}

.mainHeader nav :hover, .mainHeader nav :active, .mainHeader nav .active :link, .mainHeader nav .active :visited {
	color: #FE2E2E;
	text-shadow: none;
	font-size:140%;
}

#logo {
	width:10%;
	height:125px;
	margin-left: 3%;
	border: 0px;
}

#title {
	Font-size: 425%;
	margin-top: -80px;
	Letter-spacing: 10px;
	Color: #4B8A08;
}

#fb {
	width : 80px;
	height: 80px;
	float:right;
	margin-top: -100px;
	margin-right: 5%;
}

#about, #types, #se, #benefits, #designs {
	width:75%;
	height: 750px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	background-color: #CECEF6;
	Border-radius: 50px;
	border-style:solid;
	border-bottom-color: #0174DF;
	border-right-color: #0174DF;
	border-top:none;
	Border-left:none;
}

#about:hover, #types:hover, #se:hover, #benefits:hover, #designs:hover {
	border-style: dashed;
	border-width: 5px;
	border-color: green;
}

#abouttitle, #typestitle, #setitle, #benefitstitle, #designstitle{
	Font-size: 200%;
	color: #688A08;
}

#aboutpara, #typespara, #separa, #benefitspara, #designspara {
	font-size: 150%;
	line-height: 40px;
	color: #868A08;
	width: 85%;
	MARGIN:AUTO;
}

#typesl {
	font-size: 135%;
	line-height: 40px;
	color: #868A08;
	width: 80%;
	MARGIN:AUTO;
}


#ch:hover {
	font-size: 200%;
	color: Gray;
}

@media (max-width:1300) {

	.mainHeader nav {
		background-color: #2E64FE;
		height: 50px;
		width: 85%;
		margin:Auto;
		border-radius: 10px;
		margin-top: 70px;
		border-bottom-color:#0B4C5F;
		border-right-color:#0B4C5F;
		border-style:solid;
		border-top:none;
		border-left: none;
	}

	.mainHeader nav ul {
		list-style: none;
		margin-left: auto;
		width:90%;
		margin-right: auto;
	}

	.mainHeader nav ul li {
		float: left;
		display: inline-block;
		padding: 2% 6%;
	}

	.mainHeader nav :link, .mainHeader nav :visited {
		color:#FFF;
		display: inline-block;
		line-height: 10%;
		text-decoration:none;
		font-family:Arial;
	}
	.mainHeader nav :hover, .mainHeader nav :active, .mainHeader nav .active :link, .mainHeader nav .active :visited {
	color: #FE2E2E;
	text-shadow: none;
	font-size:130%;
	}
	
	#about, #types, #se, #benefits, #designs {
	height:850px;
	}
	
	#logo {
	width:12%;
	height:125px;
	margin-left: 3%;
	border: 0px;
}
}
