body {
	width:99%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height:180%;
	text-align:left;
	clear: both;
	background-image:url('bg.jpg');
	background-color: #A9F5A9;
}

.mainHeader nav {
	background-color: #99925D;
	height: 50px;
	width: 85%;
	margin:Auto;
	border-radius: 10px;
	margin-top: 70px;
	border-bottom-color: #ADA87D;
	border-right-color: #ADA87D;
	border-style:solid;
	border-top:none;
	border-left: none;
}

.mainHeader nav ul {
	list-style: none;
	margin-left: auto;
	width:90%;
	margin-right: auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline-block;
	padding: 2% 7%;
}

.mainHeader nav :link, .mainHeader nav :visited {
	color:#FFF;
	display: inline-block;
	line-height: 10%;
	text-decoration:none;
	font-family:Arial;
}

.mainHeader nav :hover, .mainHeader nav :active, .mainHeader nav .active :link, .mainHeader nav .active :visited {
	color: #FF3333;
	text-shadow: none;
	font-size:140%;
}

#logo {
	width:10%;
	height:125px;
	margin-left: 3%;
	border: 0px;
}

#title {
	Font-size: 425%;
	margin-top: -80px;
	Letter-spacing: 10px;
	Color: #5C8533;
}

#fb {
	width : 80px;
	height: 80px;
	float:right;
	margin-top: -100px;
	margin-right: 5%;
}

#about, #types, #se, #benefits, #designs {
	width:75%;
	height: 750px;
	margin: auto;
	padding: 30px;
	margin-top: 80px;
	background-color: #FFB870;
	Border-radius: 50px;
	border-style:solid;
	border-bottom-color: #0174DF;
	border-right-color: #0174DF;
	border-top:none;
	Border-left:none;
}

#about:hover, #types:hover, #se:hover, #benefits:hover, #designs:hover {
	border-style: dashed;
	border-width: 5px;
	border-color: green;
}

#abouttitle, #typestitle, #setitle, #benefitstitle, #designstitle{
	Font-size: 200%;
	color: #688A08;
}

#aboutpara, #typespara, #separa, #benefitspara, #designspara {
	font-size: 150%;
	line-height: 40px;
	color: #868A08;
	width: 85%;
	MARGIN:AUTO;
}

#typesl {
	font-size: 135%;
	line-height: 40px;
	color: #868A08;
	width: 80%;
	MARGIN:AUTO;
}


#ch:hover {
	font-size: 200%;
	color: Gray;
}

#hi, #sei,#bi {
	margin-top: 3%;
}

#h1, #h2, #h3, #t1, #t2, #t3, #se1, #se2, #se3, #b1, #b2 ,#b3 {
	width: 28%;
	height: 36%;
	margin-left:2%;
	margin-right:2%;
	border-radius: 15px;
	border-style:solid;
	border-bottom-color: gray;
	border-top: none;
	border-right-color: gray;
	border-left: none;
	border-bottom-width:5px;
	border-right-width:5px;
}

#ti {
	margin-top: 2.5%;
}

#di {
	width:100%;
	height: 80%;
	margin-top: 2%;
}

#d1 {
	width:100%;
	height: 100%;
	border-radius: 15px;
	border-style:solid;
	border-bottom-color: gray;
	border-top: none;
	border-right-color: gray;
	border-left: none;
	border-bottom-width:5px;
	border-right-width:5px;
}

@media (max-width:1500px) {
	#about, #designs {
		width:75%;
		height: 800px;
		margin: auto;
		padding: 30px;
		margin-top: 80px;
	}

	#se {
		width:75%;
		height: 750px;
		margin: auto;
		padding: 30px;
		margin-top: 80px;
	}
	
	#types, #benefits {
		width:75%;
		height: 850px;
		margin: auto;
		padding: 30px;
		margin-top: 70px;
	}
}


@media (max-width:1450px) {
	#about, #designs {
		width:75%;
		height: 850px;
		margin: auto;
		padding: 30px;
		margin-top: 80px;
	}

	#se {
		width:75%;
		height: 800px;
		margin: auto;
		padding: 30px;
		margin-top: 80px;
	}
	
	#types, #benefits {
		width:75%;
		height: 875px;
		margin: auto;
		padding: 30px;
		margin-top: 70px;
	}
}

@media (max-width:1350px) {
	.mainHeader nav :hover, .mainHeader nav :active, .mainHeader nav .active :link, .mainHeader nav .active :visited {
		color: #FF3333;
		text-shadow: none;
		font-size:120%;
	}
}

@media (max-width:1350px) {
	
	.mainHeader nav {
		background-color: #99925D;
		height: 50px;
		width: 90%;
		margin:Auto;
		border-radius: 10px;
		margin-top: 70px;
		border-bottom-color: #ADA87D;
		border-right-color: #ADA87D;
		border-style:solid;
		border-top:none;
		border-left: none;
	}

	.mainHeader nav ul {
		list-style: none;
		margin-left: auto;
		width:90%;
		margin-right: auto;
	}

	.mainHeader nav ul li {
		float: left;
		display: inline-block;
		padding: 2% 6%;
	}

	.mainHeader nav :link, .mainHeader nav :visited {
		color:#FFF;
		display: inline-block;
		line-height: 10%;
		text-decoration:none;
		font-family:Arial;
	}

	.mainHeader nav :hover, .mainHeader nav :active, .mainHeader nav .active :link, .mainHeader nav .active :visited {
		color: #FF3333;
		text-shadow: none;
		font-size:120%;
	}
	
	#benefits {
		height: 1000px;
	}
}
